<div class="container-fluid bg-3 landingPage">  
    <div class="row">  
    <div  class="col-md-8 text-center">
        <form class="form-inline" action="/space/search" method="POST">
            <div class="input-group">
              <input type="text" name="name"class="form-control" size="50" placeholder="Enter city or state" required>
              {{!-- <input type="text" name="name" id="marvelName" placeholder="Marvel" class="search">  --}}
              <div class="input-group-btn">
                  <button type="submit" class="btn btn-danger">Search</button>
              </div>
              
            </div>
        </form>
    </div>
    <div  class="col-md-4">
        <div class="dropdown ml-0">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <p class="dropdown-item" >Price(Low-High)</p>
                <p class="dropdown-item" >Price(High-Low)</p>
                <p class="dropdown-item">Volume(Low-High)</p>
                <p class="dropdown-item" >Volume(High-Low)</p >
            </div>
        </div>
    </div>
  
</div>
    </div>
  <div class="row">
       {{#each spaceList}}
    <div class="col-sm-3" onClick="divFunction('{{this._id}}')">
            <div class="panel">
                <div class="row">
                     {{#each photoArray}}
                      <div class = "col-sm-6"> 
                        <img class="media-object user-Pic" src={{this}}  alt="Flowers in Chania" style='height: 100%; width: 100%; object-fit: contain'>
                        <br/>
                        <br/>
                        </div>
                        {{/each}}         
                </div>
                <div class="row">
                <div class="col-sm-6 panel-heading">{{this.spaceName}}</div>
                <div class="col-sm-6 rating">
                    <p >{{this.rating}}/5</p>
                    <p hidden class="spaceId">{{this._id}}</p>
                    <p class="starRate">{{this.rating}}</p>                   
                 <span class='stars'></span>
                </div>
                </div>
                 <div >${{this.price}}/Night</div>
                  <div >{{this.address.city}}</div>
                  <div>Space Dimension: {{spaceDim.length}} x {{spaceDim.width}} x {{spaceDim.height}}</div>
            </div>
    </div>
       {{/each}}
  </div>
</div>