<div class="container-fluid bg-3">  
    <div class="row text-center">  
    <div  class="col-md-12">
        <form class="form-inline">
            <div class="input-group">
            <input type="email" class="form-control" size="50" placeholder="Enter city or state" required>
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger">Search</button>
            </div>
            </div>
        </form>
  </div>
    </div>
  <div class="row">
       {{#each spaceList}}
    <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading">{{this.spaceName}}</div>
                 <div >${{this.price}}/Night</div>
                  {{!-- <div class="ratings"> <span class="product-rating">{{this.rating}}</span><span>/5</span>
                  <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                  <div class="rating-text"> <span>46 ratings & 15 reviews</span> </div> --}}
                  <div>Space Dimension: {{spaceDim.length}} * {{spaceDim.width}} * {{spaceDim.height}}</div>
             
            </div>
    </div>
       {{/each}}
  </div>
</div>