<div class="container-fluid bg-3">  
  <div class="row">
      {{!-- Iterate iamges in teh following div --}}
      {{!-- <div class="col-sm-4"></div> --}}
      <div class="row">
          <div class="col-sm-8">
              <div class="row">
                {{#each spaceDetails.photoArray}}
                <div class="col-sm-6">
                    <img class="media-object user-Pic" src={{this}}  alt="Flowers in Chania" style='height: 100%; width: 100%; object-fit: contain'>
                    <br/>
                       <br/>
                          <br/>
                             <br/>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>
    <a href= "/comments/creatComment/{{spaceDetails._id}}">
        <button type="submit" class="btn btn-primary" name="deleteButton" id="deleteButton">Post new comment</button>
    </a>
</h2>
                {{!-- {{/each}} --}}
              {{!-- </div> --}}
              {{!-- <h2>{{spaceDetails.spaceName}}</h2>
               <div >{{spaceDetails.description}}</div>
               <div id= "spaceId" hidden>{{spaceDetails.id}}</div>
               <h4 id="price"> $x{{spaceDetails.price}}/Night</h4>
               <h4>Space Dimension: {{spaceDetails.spaceDim.length}} x {{spaceDetails.spaceDim.width}} x {{spaceDetails.spaceDim.height}}</h4>
          </div>
          <div class="col-sm-4">
             <div class="row">
                 <h2>Booking</h2>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="date" required>
                                    <span class="form-label">Check In</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="date" required>
                                    <span class="form-label">Check out</span>
                                </div>
                         <button type="button" id="booking" value="submit"></button>
                </div>
            </div>
            </form> --}}
      {{!-- </div>
  </div>
</div> --}}
