
<div class="contentBox">

    <section class="py-2">
        <h4>Spaces booked by you</h4>

        <div class="row"></div>
           {{#each bookingInfo}}
               <div class='col-sm-6'>
                  <div class='panel my-2 px-4 py-4'>
                        <p>{{this.SpaceName}}</p>
                    
                        <p>your booking is from {{this.startDate}} to {{endDate}}</p>
                     
                        <p>Price for this booking is ${{this.totalPrice}}</p>
                    
                        <a href="/bookings/remove/{{this._id}}"> <span class="bi bi-trash-fill"></span></a> 
                  </div>
               </div>
           {{/each}}
            </div>
       </section>
      
</div>