
  <div class="row">
       {{#each savedSpaces}}
    <div class="col-sm-3" onClick="divFunction('{{this._id}}')">
            <div class="panel">
                <div class="row">
                     {{#each photoArray}}
                      <div class = "col-sm-6"> 
                        <img class="media-object user-Pic" src={{this}}  alt="Flowers in Chania" style='height: 100%; width: 100%; object-fit: contain'>
                        <br/>
                        <br/>
                        </div>
                        {{/each}}         
                </div>
                <div class="row">
                <div class="col-sm-6 panel-heading">{{this.spaceName}}</div>
                <div class="col-sm-6 rating">
                    <p >{{this.rating}}/5</p>
                    <p hidden class="spaceId">{{this._id}}</p>
                    <p class="starRate">{{this.rating}}</p>                   
                 <span class='stars'></span>
                </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 dimensions">
                    <div >${{this.price}}/Night</div>
                    <div >{{this.address.city}}</div>
                    <div>Space Dimension: {{spaceDim.length}}ft x {{spaceDim.width}}ft x {{spaceDim.height}}ft</div>
                  </div>
                  <div class="col-sm-4 unfavorite">
                    <a href='javascript:void(0)'  class='unfavorite' data-href='/user/savedSpacesDelete/{{this._id}}'>unf</a>
                  </div>
                </div>
                 
            </div>
    </div>
       {{/each}}
  </div>
</div>
<script>
    $(".dropdown").on("click", ".dropdown-toggle", function(e) { 
    e.preventDefault();
    $(this).parent().addClass("show");
    $(this).attr("aria-expanded", "true");
    $(this).next().addClass("show"); 
  });
</script>